.App {
    height: 100vh;
    text-align: center;
    display: grid;

    grid-template-rows: 10vh 1fr;
    grid-template-columns: 20vw 1fr;
}


.App-header {
}

.App-title {
    font-size: 9vh;
    font-family: Arvo, serif;
    grid-column: 1 / 3;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
